body {
	background-color: #40e0d0;
}

#central {
	top: 15%;
	left: 0%;
	padding: 20px;
	margin: 0px;
	text-align: center;
	position: fixed;
	width: 100%;
	background-color: #00ced1;
}

h1, h2 {
	color: #eeeeee;
	font-family: Verdana;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 25px;
}
